name: Autodeploy

on:
  push:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Twee Autodeploy
        uses: Fireye04/Twee-Autodeploy@0.1.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
